#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno
*.fw
*.fw.gen.S
*.map
*.lds
*.cis
*.csp
*.dsp
*.gzip
*.S
*.code
#
# Top-level generic files
#
/tags
/TAGS
/linux
/vmlinux
/vmlinuz
/System.map
/Module.markers
/Module.symvers
lib/raid6/
/scripts
#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
!.mailmap

#
# Generated include files
#
include/config
include/linux/version.h
include/generated
arch/*/include/generated

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

*.orig
*~
\#*#

kernel/config_data.h
kernel/timeconst.h
lib/crc32table.h
lib/gen_crc32table
usr/gen_init_cpio
usr/initramfs_data.cpio
firmware/ihex2fw
drivers/video/logo/*clut224.c
drivers/video/logo/*vga16.c
drivers/video/logo/*mono.c
arch/arm/boot/*Image
arch/arm/boot/compressed/vmlinux
drivers/tty/vt/consolemap_deftbl.c
drivers/tty/vt/defkeymap.c
